{% extends "base.html" %}
{% block page %}
<div class="container">
    <div class="row">
        {% for i in pro %}
        <div class="col-3">
            <img src="{{i.images.url}}" alt="">
            {{i.name}}
            {{i.price}}
            {{i.quantity}}
            {{i.description}}
            {{i.descount_price}}
            {{i.on_scale}}
            <a href="{% url "pro_home" i.id %}" target="_blank" rel="noopener noreferrer">View More</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock page %}